<div class="row justify-content-center my-4">
  <div class="col-12 col-lg-7">
    <div class="card-trip m-3">
      <img src="https://images.pexels.com/photos/2104742/pexels-photo-2104742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      <div id="avatar-card">
        <img src='https://ca.slack-edge.com/T02NE0241-UHW32V2J1-d3d98e55b2bf-48' class="card-trip-user avatar-bordered"/>
      </div>
      <div class="card-trip-infos">
        <div>
          <div class="py-2">
            <h2><%= current_user.first_name %></h2>
          </div>
          <div class="py-2">
            <h2><%= current_user.last_name %></h2>
          </div>
          <div class="py-2">
            <h2><%= current_user.email %></h2>
          </div>
        </div>
      </div>
    </div>


   <hr>

        <div class="d-flex justify-content-between">
        <h2 class="section-title ">My Boxes</h2>
        <p><%= link_to "Create a Boxe", new_box_path,:class => "btn btn-success textcolor" %></p>
      </div>



      <hr>
      <% Boxe.where(user_id: current_user.id).each do |boxe| %>
      <div class="card-product m-2">
        <%= cl_image_tag boxe.photo %>
        <div class="card-product-infos d-flex justify-content-between" style="width: 750px">
          <div>
            <h2><%= link_to boxe.name, box_path(boxe)%> </h2>
          <p><%= boxe.description %> </p>
          <p><%= boxe.address %> </p>
          </div>

<!--
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
  Edit
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <%= simple_form_for(boxe) do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :caracteristics %>
            <%= f.input :price_per_day %>
            <%= f.input :address %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.button :submit, class: 'btn btn-success btn-block textcolor' %>
            <% end %>
      </div>
    </div>
  </div>
</div>

           <div>
      <%= link_to "Edit", edit_box_path(boxe),:class => "btn btn-success textcolor", :id => 'exampleModal', "data-toggle" => "modal", 'data-target' => '#exampleModal'%>
        <%= link_to "Delete", box_path(boxe),:class => "btn btn-success textcolor",
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </div>

        </div>
      </div>
      <% end %>
      <hr>
    </div>


<!-- Button trigger modal -->


  </div>
</div>
