
  <div class="container-create-box">
    <h1> Create a new box </h1>
    <%= simple_form_for(@boxe) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :caracteristics %>
    <%= f.input :price_per_day %>
    <%= f.input :address %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-success btn-block textcolor' %>
    <% end %>

  </div>


