<div class="paddingtop-results">
<div class="text-center m-3">

  <div class="container">
    <div class="row justify-content-center">
    <div>
        <%= form_tag boxes_path, method: :get do %>
        <%= text_field_tag :query,params[:query],class: "form-control", placeholder: "Find a box"%>
    </div>
    <div>
      <button class="btn btn-success textcolor">Find your box</button>
    </div>

  </div>
  </div>


<% end %>
  <hr>
</div>
</div>
<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-lg-8">
    <div class="cards">
      <% @boxes.each do |boxe| %>
        <div class="card-product">
          <img src="https://picsum.photos/200/300?random=1">
            <div class="card-product-infos">
              <h2><%= link_to boxe.name, box_path(boxe.id) %></h2>
                <p><%= boxe.description %></p>
              <h5><%= boxe.price_per_day %>€/day</h5>
            </div>
        </div>
      <% end %>
    </div>
  </div>
    <div class="col-12 col-lg-4">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
